.hide {
    display: none;
}

* {
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: 'Georgia', Times New Roman, Times, serif;
    color: rgb(0, 110, 110);
    background-color: rgb(236, 236, 236);
}

.padding {
    padding: 10px;
}

.border {
    border: 3px solid black;
}

.top-margin {
    margin-top: 40px;
}

.btn {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.wrong {
    font-weight: bold;
    color: red;
}