.hide {
  display: none;
}

* {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(216, 216, 216);
}

.body1 {
  background-color: rgb(41, 41, 41);
  display: block;
  padding: 45px 0px;
  box-shadow: 5px 15px 20px 10px rgb(73, 73, 73);
}

.text-div {
  margin: auto;
  width: 65%;
}

.padding {
  padding: 10px;
}

.border {
  border: 3px solid gray;
}

button {
  background-color: rgb(41, 41, 41);
}

.btn {
  text-decoration: underline;
  background-color: rgb(41, 41, 41);
  width: 150px;
  color: white;
  font-weight: bold;
}

.wrong {
  font-weight: bold;
  color: #e07a5f;
}

.seconds {
  color: #e07a5f;
}

.start-over {
  margin: 15px;
}

.input-box {
  color: black;
  text-align: left;
}
